@import "tailwindcss";

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* font-family: "Source Sans 3", sans-serif; */
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.588em;
}